/* styles.css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #0A0F1F;
    color: #EAF6FF;
    font-family: 'Segoe UI', sans-serif;
    height: 100vh;
    overflow: hidden; /* Con esto se evita el scroll en todo el cuerpo */
    font-size: 16px; /* Se puede agregar esta línea */
}

.container {
    display: flex;
    height: 100%;
    overflow: hidden; /* Evita el scroll en el contenedor principal */
}

.menuLateral {
    width: 240px;
    background-color: #111827;
    padding: 20px 10px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    height: 100%;
}

.menuLateral ul {
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
    overflow-y: hidden; /* Se desactiva el scroll */
}

.menuLateral li {
    padding: 21px 30px; /* Podemos modificar el tipo de tamaño de la barra lateral. */
    cursor: pointer;
    color: #CBD5E1;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-size: 13px; /* Tipo de letra del menu lateral, estudiantes, profesores, etc */
}

.menuLateral li:hover {
    background-color: #1E293B;
    color: #FFFFFF;
}

.tables {
    flex: 1;
    padding: 40px;
    height: 100%;
    overflow-y: hidden; /* Se desactiva el scroll */
}

.content-section {
    display: none;
    flex-direction: column;
    gap: 12px;
    padding: 30px;
    border-radius: 10px;
    background-color: #1E293B;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    min-height: 100%;
}

.content-section.active {
    display: flex;
}

.content-section h2 {
    margin-bottom: 20px;
    color: #F8FAFC;
}

input, button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 6px;
    font-size: 14px;
}

input {
    background-color: #334155;
    color: #F1F5F9;
    border: 1px solid #475569;
}

input::placeholder {
    color: #94A3B8;
}

button {
    background-color: #3B82F6;
    color: #FFFFFF;
    margin-top: 10px;
}

button:hover {
    background-color: #2563EB;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    background-color: #0F172A;
    border: 1px solid #334155;
    border-radius: 6px;
    max-height: none;
    overflow-y: hidden; /* Se desactiva el scroll */
}

ul li {
    padding: 10px;
    border-bottom: 1px solid #1E293B;
    color: #E2E8F0;
}

ul li:last-child {
    border-bottom: none;
}
